{% extends 'base.html' %}

{% block content %}

<h2>Fiche étudiant</h2>

<p><strong>Nom :</strong> {{ etudiant.nom }}</p>
<p><strong>Prénom :</strong> {{ etudiant.prenom }}</p>
<p><strong>Email :</strong> {{ etudiant.email }}</p>
<p><strong>INE :</strong> {{ etudiant.ine }}</p>
<p><strong>Année :</strong> {{ etudiant.annee }}</p>
<p>Statut boursier : 
    {% if etudiant.boursier|string in ['1', 'True', 'true', 'Oui'] %}
        <span class="badge bg-success">Oui</span>
    {% else %}
        <span class="badge bg-danger">Non</span>
    {% endif %}
</p>

<a href="{{ url_for('index') }}">⬅ Retour</a>

{% endblock %}
